{% extends 'base.html' %}

{% load static %}

{% block title %}
    Create a Task
{% endblock title %}
{% block content %}
    <header>
        <nav>
        </a>
    </nav>
</header>
<Main>
    <div>
        <h1>Create a new task</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </div>
    </form>
</Main>
{% endblock content %}
