{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if show_my_tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {% for tasks in show_my_tasks %}
                        <tr>
                            <td>{{ tasks.name }}</td>
                            <td>{{ tasks.start_date }}</td>
                            <td>{{ tasks.due_date }}</td>
                            <td>{{ tasks.is_completed|yesno:"Done,No" }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>You have no tasks</p>
                {% endif %}
            </table>
        </div>
    </main>
{% endblock content %}
