{% extends 'base.html' %}

{% load static %}

{% block title %}
    Create a Project
{% endblock title %}
{% block content %}
    <header>
        <nav>
        </a>
    </nav>
</header>
<MAin>
    <div>
        <h1>Create a new project</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </div>
    </form>
</MAin>
{% endblock content %}
